body{
    background-color: rgb(198, 224, 208);
}
.jumbotron{
padding-top: 0px;
padding-bottom:0px;
background-image:url('./background-1.jpg');

background-size: cover;
height:160px;
}
.search-container{
    display: flex;
    justify-content: center;
}

#search-input{ /*added by ethan*/
    border-radius: 10px; /*added by ethan*/
    width: 700px; /*added by ethan*/
}

#search-button{
    background-color: rgb(20 155 40 / 67%); /*added by ethan*/
    color:white; /*added by ethan*/
    border-radius: 25px; /*added by ethan*/
    margin-left: 10px; /*added by ethan*/
}


h1{
    font-family: 'Freehand', cursive;
    padding-top: 25px;
    color: limegreen;
    text-shadow: 2px 2px rgb(1, 45, 1) ;
}
.lead{
    font-family: 'Freehand', cursive;
    font-size: 30px;
    color: limegreen;
    text-shadow: 2px 2px rgb(1, 45, 1) ;
}
#results{
padding: 5px;

}
 #local-storage{
    display:flex;
    justify-content: space-around;
    background-color: rgb(111, 123, 123);
 }

#results button {
    display:flex;
    justify-content: space-around;
   background-color: limegreen;
   font-family: 'Caveat', cursive;
   font-size: 25px;
   color: rgb(255, 89, 0);
   text-shadow: 2px 2px rgb(1, 45, 1) ;
   width: 80%;
   box-shadow: 5px 5px 5px yellow;
   border-radius: 12px;
   border-color: limegreen
}



.generated-food{
    display: flex;
    justify-content: space-around;
    /* display: none; */
}
#food{
    justify-content: center;
    /* background-color: limegreen; */
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: rgb(29, 66, 29);
    /* text-shadow: 2px 2px rgb(1, 45, 1) ; */  /* removed the text shadow at the bottom of page added by ethan*/
}

#food{
    list-style-type: none;
}